<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
>
  <div layout:fragment="content">
    <div class="jumbotron">
      <h1>메뉴 추가</h1>
      <hr/>
    </div>
    <div class="container">
      <form method="post" action="/menus" th:object="${menu}">
        <!-- name -->
        <div class="form-group">
          <label>피자 메뉴 이름</label>
          <input name="name" type="text" placeholder="피자 메뉴 이름을 입력하세요!" class="form-control">
        </div>

        <!-- price -->
        <div class="form-group">
          <label>가격</label>
          <input name="price" type="text" placeholder="가격을 입력하세요!" class="form-control">
        </div>

        <!-- 추가 재료 -->
        <div class="container-md">
          <label>커스터마이징</label>
          <div class="ingredient-group" id="doughs">
            <h3>도우</h3>
            <div th:each="ingredient : ${dough}">
              <input name="ingredients" type="radio" th:value="${ingredient.id}"
              />
              <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
          </div>
          <hr/>
          <div class="ingredient-group" id="sauces">
            <h3>소스</h3>
            <div th:each="ingredient : ${sauce}">
              <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
              />
              <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
          </div>
          <hr/>
          <div class="ingredient-group" id="cheeses">
            <h3>치즈</h3>
            <div th:each="ingredient : ${cheese}">
              <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
              />
              <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
          </div>
          <hr/>
          <div class="ingredient-group" id="toppings">
            <h3>토핑</h3>
            <div th:each="ingredient : ${topping}">
              <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
              />
              <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
          </div>

        </div>

        <button type="submit">제출</button>
      </form>
    </div>
  </div>
</html>